@font-face {
   font-family: 'Proxima Nova';
   src: url('../fonts/ProximaNova-Regular.eot');
   src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
       url('../fonts/ProximaNova-Regular.woff') format('woff'),
       url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
       url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Proxima Nova';
   src: url('../fonts/ProximaNova-Semibold.eot');
   src: url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ProximaNova-Semibold.woff2') format('woff2'),
       url('../fonts/ProximaNova-Semibold.woff') format('woff'),
       url('../fonts/ProximaNova-Semibold.ttf') format('truetype'),
       url('../fonts/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
   font-weight: 600;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Proxima Nova';
   src: url('../fonts/ProximaNova-Bold.eot');
   src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
       url('../fonts/ProximaNova-Bold.woff') format('woff'),
       url('../fonts/ProximaNova-Bold.ttf') format('truetype'),
       url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'HelveticaNeue';
   src: url('../fonts/HelveticaNeue-Roman.eot');
   src: url('../fonts/HelveticaNeue-Roman.eot?#iefix') format('embedded-opentype'),
       url('../fonts/HelveticaNeue-Roman.woff2') format('woff2'),
       url('../fonts/HelveticaNeue-Roman.woff') format('woff'),
       url('../fonts/HelveticaNeue-Roman.ttf') format('truetype'),
       url('../fonts/HelveticaNeue-Roman.svg#HelveticaNeue-Roman') format('svg');
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'HelveticaNeue';
   src: url('../fonts/HelveticaNeue-Bold.eot');
   src: url('../fonts/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/HelveticaNeue-Bold.woff2') format('woff2'),
       url('../fonts/HelveticaNeue-Bold.woff') format('woff'),
       url('../fonts/HelveticaNeue-Bold.ttf') format('truetype'),
       url('../fonts/HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg');
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'HelveticaCE';
   src: url('../fonts/HelveticaCE-Bold.eot');
   src: url('../fonts/HelveticaCE-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/HelveticaCE-Bold.woff2') format('woff2'),
       url('../fonts/HelveticaCE-Bold.woff') format('woff'),
       url('../fonts/HelveticaCE-Bold.ttf') format('truetype'),
       url('../fonts/HelveticaCE-Bold.svg#HelveticaCE-Bold') format('svg');
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}